<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conditional Rendering</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image" v-bind:alt="altText" />
            </div>
            <div class="product-info">
                <div class="cart">
                    <p>Cart {{ cart }}</p>
                </div>
                <h1>{{ title }}</h1>
                <p v-if="inStock && inventory > 10">In Stock</p>
                <p v-else-if="inventory <=10 && inventory > 0">Almost sold out!</p>
                <p v-else
                    :class="{ outOfStock: !inStock }">Out of Stock
                </p>
                <a v-bind:href="link">{{ product }}</a>
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                </ul>
                <div class="color-box" 
                        v-for="variant in variants" 
                        :key="variant.variantId"
                        :style="{ backgroundColor: variant.variantColor }"
                        @mouseover="updateProduct(variant.variantImage)"
                        >
                </div>
                <button @click="removeFromCart">Remove Cart</button>
                <button v-on:click="addToCart"
                        :disabled="!inStock"
                        :class="{ disabledButton: !inStock }"
                        >Add to Cart
                </button>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>
