<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Começando com Vuejs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
        <input v-model="message">

        <p v-if="seen">Now you see me</p>

        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>

        <ol>
            <todo-item></todo-item>
            <todo-item></todo-item>
        </ol>

        <button v-on:click="reverseMessage">Reverse message</button>
    </div>
    <script src="index.js"></script>
</body>
</html>
